.promo-banner {
    background-color: #5A9050; 
    color: white;
    padding: 15px 0;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.promo-banner p {
    margin: 0;
}

.promo-banner strong {
    color: #ecf0f1;
}
